#wrapper {
	max-width: 700px;
	margin: auto;
}

#wrapper.wide {   max-width: 900px; }
#wrapper.narrow { max-width: 500px; }

#skip-links a,
#skip-links a:hover,
#skip-links a:visited {
	position: absolute;
	top: -500px;
	left: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

#skip-links a:active,
#skip-links a:focus {
	position:static;
	width:auto;
	height:auto;
}

article img {
	max-width: 100%;
	
}

pre {
	width: 100%;
	overflow-x: auto;
	overflow-y: auto;
	max-height: 600px;
}

/*
--------------------------------------------------
HEADER
--------------------------------------------------
*/

header {
	border-bottom: 1px solid #555;
	margin-bottom: 15px;
}

#logo {
	height: 70px;
	line-height: 70px;
	font-size: 36px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #555;
}

.permalink-page #logo:hover {
	color: #111;
}

/*
--------------------------------------------------
Footer
--------------------------------------------------
*/

footer {
	padding: 10px 20px;
	margin-top: 25px;
	height: 30px;
	line-height: 18px;
	font-size: 14px;
	color: #999;
	text-align: center;
	border-top: 1px solid #ccc;
}

footer a {
	color: inherit;
}

body {
	font: normal 18px/29px Garamond, Georgia, serif;
	color: #444;
}

@font-face {
	font-family: 'Meslo LG';
	src: url('//static.tumblr.com/6wgenqk/kQCm6ht3p/meslo-dz.eot');
	src: url('//static.tumblr.com/6wgenqk/kQCm6ht3p/meslo-dz.eot?#iefix') format('embedded-opentype'),
		 url('//static.tumblr.com/6wgenqk/TtZm6htdd/meslo-dz.woff') format('woff'),
		 url('//static.tumblr.com/6wgenqk/g1Um6htef/meslo-dz.ttf') format('truetype'),
		 url('//static.tumblr.com/6wgenqk/SBqm6htfb/meslo-dz.svg#MesloLG') format('svg');
	font-weight: normal;
	font-style: normal;
}

code {
	font-family: 'Meslo LG', monospace;
}