#wrapper {
	max-width: 700px;
	margin: auto;
}

#wrapper.wide {   max-width: 900px; }
#wrapper.narrow { max-width: 500px; }

#skip-links a,
#skip-links a:hover,
#skip-links a:visited {
	position: absolute;
	top: -500px;
	left: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

#skip-links a:active,
#skip-links a:focus {
	position:static;
	width:auto;
	height:auto;
}

article img {
	max-width: 100%;
	
}

pre {
	width: 100%;
	overflow-x: auto;
	overflow-y: auto;
	max-height: 600px;
}

/*
--------------------------------------------------
HEADER
--------------------------------------------------
*/

header {
	border-bottom: 1px solid #555;
	margin-bottom: 15px;
}

#logo {
	height: 70px;
	line-height: 70px;
	font-size: 36px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #555;
}

.permalink-page #logo:hover {
	color: #111;
}

/*
--------------------------------------------------
Footer
--------------------------------------------------
*/

footer {
	padding: 10px 20px;
	margin-top: 25px;
	height: 30px;
	line-height: 18px;
	font-size: 14px;
	color: #999;
	text-align: center;
	border-top: 1px solid #ccc;
}

footer a {
	color: inherit;
}

body {
	font: normal 18px/29px Garamond, Georgia, serif;
	color: #444;
}

code {
	font-family: 'Meslo LG', monospace;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, Arial, sans-serif;
	color: #000;
	line-height: 1.5;
	text-shadow: 0 0 1px #bbb;
}

.permalink-page h1,
.index-page h2 {
	font-size: 28px;
	padding: 10px 0;
}

.permalink-page h2 {
	font-size: 20px;
	padding: 6px 0;
}

.permalink-page h3,
.permalink-page h4,
.permalink-page h5,
.permalink-page h6 {
	font-size: 18px;
	padding: 3px 0;
} 

.permalink-page h3,
.permalink-page h4 {
	font-style: italic;
}

article pre,
article img,
article ul,
article p {
	margin: 12px 0;
}

/*
--------------------------------------------------
PAGINATION
--------------------------------------------------
*/

#pagination {
	margin: 15px 0;
	border: 1px dashed #d1d1d1;
}

#pagination,
#pagination ul,
#pagination li,
#pagination a {
	height: 50px;
}

#pagination ul {}

#pagination li {
	width: 50%;
	text-align: center;
}

#prev { float: left; }
#next { float: right; }

#pagination a {
	line-height: 50px;
}


/*
--------------------------------------------------
TAGS
--------------------------------------------------
*/

.tags {
	list-style: none;
	overflow: hidden;
	margin: 19px 0;
}

.tags li {
	float: left;
}

.tags li + li:before {
	content: ', ';
}

.tags li a:before {
	content: '#';
}

.tags a {}