@font-face {
	font-family: 'Meslo LG';
	src: url('//static.tumblr.com/6wgenqk/kQCm6ht3p/meslo-dz.eot');
	src: url('//static.tumblr.com/6wgenqk/kQCm6ht3p/meslo-dz.eot?#iefix') format('embedded-opentype'),
		 url('//static.tumblr.com/6wgenqk/TtZm6htdd/meslo-dz.woff') format('woff'),
		 url('//static.tumblr.com/6wgenqk/g1Um6htef/meslo-dz.ttf') format('truetype'),
		 url('//static.tumblr.com/6wgenqk/SBqm6htfb/meslo-dz.svg#MesloLG') format('svg');
	font-weight: normal;
	font-style: normal;
}