out/*
out/!.gitplaceholder

#################
## NodeJS
#################

node_modules/








############
## Windows
############

# Windows image file caches
Thumbs.db 

# Folder config file
Desktop.ini



############
## MacOS
############

# Mac crap
.DS_Store
