body
	b
		|#{title}
	hr
	a(href='tumblr.com'): 'tumblr.com'
	hr
	a(href="http://hampi-theme.tumblr.com")
		|#{title}
	hr
	
	:Posts
		div
			a(href='http://tumblr.com')
				//-#{title}
			:Links
				post
					li: 'asd1'
					li: 'asd2'
					li
						'asd3'
						ul
							li: "qwe"
							li: "qwe2"


			:Tweets
				a: 'posts'