<body class="{block:IndexPage} index-page{block:DayPage} index-day-page {/block:DayPage}{block:TagPage} index-tag-page {/block:TagPage}{block:SearchPage} index-search-page {/block:SearchPage}{/block:IndexPage}{block:PermalinkPage} permalink-page{/block:PermalinkPage}">
<!-- Tumblr customizations snippet 
	https://gist.github.com/2794705 -->

<!-- #WRAPPER -->
<div id="wrapper">
<!-- HEADER -->
<header>
	<{block:IndexPage}h1{/block:IndexPage}{block:PermalinkPage}a href="/" {/block:PermalinkPage}
	 id="logo" title="{Title}"> 
		{Title}
	</{block:PermalinkPage}a{/block:PermalinkPage}{block:IndexPage}h1{/block:IndexPage}>

<!-- Tumblr #logo snippet
	https://gist.github.com/2794926 -->
</header>
<!-- /HEADER -->