| {PostType}
| 
:b('PostNotes')
	| hasnotes
| 
:b('More')
	| hasmore
| 
:b('HasTags')
	| hastags
| 
:b('IfShortDate')
	| shortdate
| 
:b('IfVisualDate')
	| visualdate
| 
:b('Date')
	| postdate-{AmPm}
	| postdate-{ShortDayOfWeek}
	| postdate-{ShortMonth}
	| postdate-{DayOfMonthWithZero}
	| postdate-{Year}
| 
| {TagsAsClasses}