/**
 * @author:  Vladimir Starkov
 * @mail:    matmuchrapna@gmail.com
 * @twitter: @matmuchrapna
 */

html {
    font-size: 62.5%; /* 1 */
    -webkit-text-size-adjust: 62.5%; /* 2 */
    -ms-text-size-adjust: 62.5%; /* 2 */
}

body {
    font-size: 62.5%;
   
    font-size: 16px;
    font-size: 1.6rem;
}

.wrap {
	max-width: 1680px;
	margin: 0 auto;
}



.logo {
	margin: 0;
	display: block;
	float: left;
	height: 35px;
}

.logo_size_small {
	-webkit-transform-origin-x: 0;
	   -moz-transform-origin-x: 0;
	    -ms-transform-origin-x: 0;
	     -o-transform-origin-x: 0;
	        transform-origin-x: 0;

    -webkit-transform: scale(0.6);
       -moz-transform: scale(0.6);
        -ms-transform: scale(0.6);
         -o-transform: scale(0.6);
            transform: scale(0.6);
}

/**
 * menu
 */

.menu {
	display: block;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
}

.menu__toggler {
	margin: 8px 0;
	cursor: pointer;
	display: block;
	float: right;
	width: 24px;
	height: 13px;
	border: solid #000;
	border-width: 3px 0;
	position: relative;
}

.menu__toggler::before {
	content: '';
	position: absolute;
	height: 3px;
	width: 100%;
	background: #000;
	top: 0;
	bottom: 0;
	margin: auto;

}


.menu__link {
	color: inherit;
	text-decoration: none;
}


.imenu_state_desktop .menu__link:hover {
	border-bottom: 2px solid #000;
}

.imenu_state_mobile .menu__link:hover {
	color: #f5de1c;
}

/**
 * imenu default states for preventing flash
 */

.menu__toggler,
.menu__list {
	display: none;
}

/**
 * imenu_state_mobile
 */


.imenu_state_mobile .menu__list,
.imenu_state_mobile .menu__toggler {
	display: block;
}

.imenu_state_mobile .menu__toggler {
	z-index: 1;
}

/* States */
.imenu_state_mobile-closed .menu__list {
	height: auto;
	max-height: 0;
	opacity: 0;
}

.imenu_state_mobile-opened .menu__list {
	max-height: 1000px;
	padding-top: 20px;
	overflow: hidden;
	opacity: 1;
}

/* /States */


.imenu_state_mobile .menu__list {
	width: 100%;
	overflow: hidden;
}

.imenu_state_mobile .menu__item + .menu__item {
	margin-top: 2px;
}

.menu.imenu_state_mobile {
	line-height: 60px;
	font-size: 16px;
}

.imenu_state_mobile .menu__link {
	display: block;
	text-align: center;
	color: #fff;
	background: #000;
}
/*
*/

/**
 * imenu_state_desktop
 */

.imenu_state_desktop .menu__toggler {
	display: none;
}

.imenu_state_desktop .menu__list {
	display: block;
}

.imenu_state_desktop .menu__list {
	float: right;
}

.imenu_state_desktop .menu__item {
	float: left;
}

.imenu_state_desktop .menu__item + .menu__item {
	margin-left: 24px;
	margin-top: 0;
}

.imenu_state_desktop .menu__toggler {
	display: none;
}

.imenu_state_desktop {
	line-height: 35px;
	font-weight: 700;
	font-size: 12px;
}

.imenu_state_desktop .menu__link {
	color: #000;
	background: none;
}


/**
 * Физика колонок
 *
 * 
одна
384

две уменьшенных
708 две

три уменьшенных
1032 три

четыре уменьшенных
1356 четыре

пять уменьшенных
1680 пять
пять

 */


.mosaicflow__column {
	float: left;
	box-sizing: border-box;
	padding: 0 5px;
}

.post-preview {
	margin-bottom: 10px;
}

.post-preview {
	color: #000;
}

.preview-post_visual-state_text .post-preview__link {
	display: block;
	padding: 30px 35px;
}


.post-preview__link {
	color: inherit;
	text-decoration: none;
	display: block;
	font-family: 'PT Sans', sans-serif;
	position: relative;
}

.preview-post_visual-state_overlay .post-preview__link::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: block;
}

.preview-post_visual-state_text .post-preview__link:hover,
/*.preview-post_visual-state_text.post_type_odd .post-preview__link:hover,*/
.preview-post_visual-state_overlay.post_type_odd .post-preview__link:hover::before {
	background: rgba(245, 222, 28, 0.90);
	/*
	background: #f5de1c;
	opacity: 0.90;
	*/
}

/*.preview-post_visual-state_text.post_type_even .post-preview__link:hover,*/
.preview-post_visual-state_overlay.post_type_even .post-preview__link:hover::before {
	background: rgba(255, 255, 255, 0.90);
	/*
	background: #fff;
	opacity: 0.95;
	*/
}


.post-preview__img {
	display: block;
	width: 100%;
	height: auto;
}

.post_type_photo .post-preview__img {
	display: block;
	width: auto;
	height: auto;
	max-width: 100%;
}

.post_type_photo .post-preview__img_type_highres {
	width: 100%;
}

.post_type_photo.post_type_highres .post-preview__img_type_normal {
	display: none;
}


.post-preview__title {
	font-size: 17px;
	line-height: 21px;
	font-weight: 700;
}

.preview-post_visual-state_overlay .post-preview__title {
	font-weight: 100;
}

.preview-post_visual-state_overlay .post-preview__title {
	opacity: 0;
}

.preview-post_visual-state_overlay:hover .post-preview__title {
	opacity: 1;
}


.preview-post_visual-state_overlay .post-preview__title {
	position: absolute;
	left: 0;
	width: 80%;
	margin-left: 10%;
	text-align: center;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	   -moz-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	     -o-transform: translate(0, -50%);
			transform: translate(0, -50%);
}


.post-preview__desc {
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 2em;
}

.post_type_quote .post-preview__desc,
.post_type_link .post-preview__desc {
	margin-bottom: 0;
}

.post_type_link .post-preview__desc {
	margin-top: 1em;
}

.post_type_link .post-preview__desc blockquote,
.post_type_link .post-preview__desc p {
	margin: 0;
}

.i-tags__tag {
	display: inline;
	white-space: nowrap;
}

.i-tags__tag::before {
	content: '#';
	display: inline;
	/*margin-right: -.3em;*/
}

.i-tags__tag::after {
	content: ', ';
	/*margin-left: -.3em;*/
	margin-right: .3em;
}

.i-tags__tag:last-child::after {
	content: '';
}


.post-preview__tags {
	/*margin-top: 5em;*/
}

.post {
	font-family: 'PT Sans', sans-serif;
}

.post__date {
	font-size: 14px;
	line-height: 1.6;
	margin-top: -.5em;
}

.post__title {
	margin-top: .2em;
	font-size: 30px;
	font-weight: bold;
	line-height: 1;
	margin-bottom: 5px;
}

.post-preview__title *,
.post__title * {
	display: inline;
	color: inherit;
	font: inherit;
}


.post__desc,
.post__tags {
	/*margin-top: 1em;*/
	font-size: 14px;
	line-height: 19px;
}

.post__tags {
	/*margin-top: 2em;*/
}

.footer,
.footer * {
	color: #bbb;
}

.post__images-wrap {
	margin-left: -5px;
	margin-right: -5px;
}

@media screen and (min-width: 0px) {
	
	.header,
	.footer {
		padding: 20px;
	}

	.footer {
		padding-top: 5px;
		padding-bottom: 5px;
		text-align: center;
	}

	.content-wrap {
		padding: 0 20px;
	}

	.post__images-wrap {
		margin-top: 48px;
	}

	.post__image {
		width: 100%;
		margin-bottom: 12px;
		height: auto;
		display: block;
	}

}

.js .is-hidden {
	opacity: 0;
}

.js .is-hidden[style] {
	opacity: 1;
}

@media screen and (min-width: 600px) {

	.header,
	.footer {
		padding: 40px;
	}
	
	.footer {
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: left;
	}
	
	.content-wrap {
		padding: 0 40px;
	}
	
	
}

@media screen and (min-width: 1000px) {
	.post__content-wrap {
		width: 26%;
		margin-right: 10%;
		float: left;
	}
	
	.post__images-wrap {
		margin-top: 0;
		float: right;
		width: 64%;
	}
}

@media screen and (min-width: 1400px) {
	.post__content-wrap {
		margin-right: 3%;
	}

	.post__images-wrap {
		width: 71%;
	}

	.post__images-wrap .mosaicflow__column .post__image {
		/*margin-bottom: 8px;*/
		display: block;
		width: 100%;
		/*padding: 0 4px;*/
		margin-bottom: 10px;
	}
	
	/*
	.post__images-wrap .mosaicflow__column:nth-child(2n+2) .post__image {
		padding-left: 0;
	}
	
	.post__images-wrap .mosaicflow__column:nth-child(2n+1) .post__image {
		padding-right: 0;
	}
	*/


}

.photoset-images {
	display: none;
}

.photoset-images:first-child {
	display: block;
}

.post-preview__title * {
	display: inline;
}
/*
.post-preview__img {
	margin-bottom: 0.3em;
}
*/

.index-page .post_type_audio .post-preview__link {
	padding: 0;
}

.index-page .post_type_audio iframe,
.index-page .post_type_video iframe {
	display: block;
	width: 100%;
}


.navigation {}

.navigation_type_pagination {}
.navigation_type_around {}

.navigation__link {
	display: inline-block;
	padding: 1em;
	color: #888;
	font-size: 20px;
	line-height: 1.2;
	font-family: 'PT Sans', sans-serif;
	text-decoration: none;
	width: 100%;
	box-sizing: border-box;
}

.navigation__link:hover {
	color: #333;
	background: rgba(111, 111, 111, 0.03);
}

.navigation__link_type_prev {
	text-align: left;
	float: left;
}

.navigation__link_type_prev::before {
	content: '← ';
}

.navigation__link_type_next {
	text-align: right;
	float: right;
}

.navigation__link_type_next::after {
	content: ' →';
}

@media screen and (min-width: 600px) {

	.navigation__link {
		width: 50%;
		box-sizing: content-box;
	}

	.navigation__link_type_prev {
		margin-left: -1em;
		padding-right: 0;
	}

	.navigation__link_type_next {
		margin-right: -1em;
		padding-left: 0;
	}
}

.content-wrap_type_index {
	margin: 0 -5px;
}

.content-wrap_type_page + .content-wrap_type_index {
	margin-top: 10px;
}


.heading_last_posts {
	font-family: 'PT Sans', sans-serif;
	margin-top: .2em;
	font-size: 20px;
	font-weight: bold;
	line-height: 1;
	margin-bottom: 5px;
	margin-left: 5px;
}
