include ../../mixins

+block('IndexPage')
	| index-page 
+block('DayPage')
	| index-day-page 
+block('TagPage')
	| index-tag-page 
+block('SearchPage')
	| index-search-page 
+block('PermalinkPage')
	| permalink-page 