include ../../mixins
+block('IndexPage')
	+block('SearchPage')
		| {lang:Search results for SearchQuery} — 
	+block('PostSummary')
		| {PlaintextPostSummary} — 
	| {Title}

+block('PermalinkPage')
	+block('Posts')
		+block('Text')
			+block('PostSummary')
				| {PlaintextPostSummary} – 
		+block('Photo')
			+block('Caption')
				| {PlaintextCaption} – 
		+block('Photoset')
			+block('Caption')
				| {PlaintextCaption} – 
		+block('Panorama')
			+block('Caption')
				| {PlaintextCaption} – 
		+block('Quote')
			| {PlaintextQuote} – 
		+block('Link')
			| {PlaintextName} – 
		+block('Chat')
			+block('PostSummary')
				| {PlaintextPostSummary} – 
		+block('Video')
			+block('PostSummary')
				| {PlaintextPostSummary} – 
		+block('Answer')
			| {PlaintextQuestion} – 
	| {Title}
