| post  
| post_type_{PostType}  
:b('PostNotes')
	| post_type_hasnotes 
:b('More')
	| post_type_hasmore 
:b('HasTags')
	| post_type_hastags 
:b('Date')
	| post_date_{AmPm} 
	| post_date_{ShortDayOfWeek} 
	| post_date_{ShortMonth} 
	| post_date_{DayOfMonthWithZero} 
	| post_date_{Year} 
| {TagsAsClasses} 