include ../../mixins

| post  
| post_type_{PostType}  
+block('PostNotes')
	| post_type_hasnotes 
+block('More')
	| post_type_hasmore 
+block('HasTags')
	| post_type_hastags 
+block('Date')
	| post_date_{AmPm} 
	| post_date_{ShortDayOfWeek} 
	| post_date_{ShortMonth} 
	| post_date_{DayOfMonthWithZero} 
	| post_date_{Year} 
| {TagsAsClasses} 