+block('Pagination')
	.navigation.navigation_type_pagination.clearfix
		+block('PreviousPage')
			a.navigation__link.navigation__link_type_prev(href="{PreviousPage}", rel="prev", title="{lang:Previous page}")
				.arrow__wrap_type_left
					.arrow.arrow_type_left
					span.navigation__link-text
						| {lang:Previous page}
		+block('NextPage')
			a.navigation__link.navigation__link_type_next(href="{NextPage}", rel="next", title="{lang:Next page}")
				.arrow__wrap_type_right
					.arrow.arrow_type_right
					span.navigation__link-text
						| {lang:Next page}

+block('PermalinkPagination')
	.navigation.navigation_type_around.clearfix
		+block('PreviousPost')
			a.navigation__link.navigation__link_type_prev(href="{PreviousPost}", rel="prev", title="{lang:Previous post}")
				.arrow__wrap_type_left
					.arrow.arrow_type_left
					span.navigation__link-text
						| {lang:Previous post}
		+block('NextPost')
			a.navigation__link.navigation__link_type_next(href="{NextPost}", rel="next", title="{lang:Next post}")
				.arrow__wrap_type_right
					.arrow.arrow_type_right
					span.navigation__link-text
						| {lang:Next post}

		a.navigation__link.navigation__link_type_center(href="#", title="{lang:See more}")
			.arrow__wrap_type_more
				.arrow.arrow_type_more
				span.navigation__link-text.navigation__link-text_type_pseudo.js-more
					| {lang:See more}
