.wrap
	include layout_header
	.cells-wrap.clearfix
		:b('Posts')
			.cell(id="post{PostID}", class=post_class)
				:b('Photo')
					.post-preview.post-preview_type_img
						if tumblr_markup
							a.post-preview__link(href="{Permalink}")
								img.post-preview__img(alt="", src="{PhotoURL-400}")
								:b('Caption')
									.post-preview__title
										| {Caption}
									.post-preview__desc
										| Interview and feature in Printed Pages
						else
							a.post-preview__link(href="post.html")
								img.post-preview__img(alt="", src="http://data.whicdn.com/images/53160516/mHSLB9oB27k_large.jpg")
								.post-preview__title
									| Interview and feature in Printed Pages
								.post-preview__desc
									| Interview and feature in Printed Pages

			.cell(id="post{PostID}", class=post_class)
				:b('Text')
					.post-preview.post-preview_type_text.post-preview_type_green
						if tumblr_markup
							a.post-preview__link(href="{Permalink}")
								:b('Title')
									.post-preview__title
										| {Title}

			.cell(id="post{PostID}", class=post_class)
				:b('Photoset')
					.post-preview.post-preview_type_img
						if tumblr_markup
							a.post-preview__link(href="{Permalink}")
								img.post-preview__img(alt="", src="{PhotoURL-400}")
								:b('Caption')
									.post-preview__title
										| {Caption}
									.post-preview__desc
										| Interview and feature in Printed Pages
						else
							a.post-preview__link(href="post.html")
								img.post-preview__img(alt="", src="http://data.whicdn.com/images/53160516/mHSLB9oB27k_large.jpg")
								.post-preview__title
									| Interview and feature in Printed Pages
								.post-preview__desc
									| Interview and feature in Printed Pages

			.cell(id="post{PostID}", class=post_class)
				:b('Quote')
					.post-preview.post-preview_type_text.post-preview_type_green
						a.post-preview__link(href="{Permalink}")
							.post-preview__desc
								| {Quote}
