.wrap
	include layout-header
	| post

script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
script(src="http://rawgithub.com/sapegin/jquery.mosaicflow/master/jquery.mosaicflow.min.js")
if mode === development
	script(src="js/plugins.js")
	script(src="js/main.js")
if mode === production
	script(src="js/plugins.js")
	script(src="js/main.js")
