:b('PermalinkPage')
	.content-wrap.clearfix
		:b('Posts')

			:b('Text')
				.post
					.post__content-wrap
						:Date
						:b('Title')
							.post_title: {Title}
						.post__desc
							| {Body}
						:Tags

			:b('Photo')
				.post
					.post__content-wrap
						:Date
						:b('Caption')
							.post__title: {Caption}
						:Tags
					.post__images-wrap
						img.post-preview__img(alt="", src="{PhotoURL-500}", width="{PhotoWidth-400}", height="{PhotoHeight-400}")

			:b('Panorama')
				.post
					.post__content-wrap
						:Date
						:b('Caption')
							.post__title: {Caption}
						:Tags
					:b('LinkOpenTag')
						.post__images-wrap
							img.post__image(src="{PhotoURL-Panorama}", alt="{PhotoAlt}", width="{PhotoWidth-400}", height="{PhotoHeight-400}")

			:b('Photoset')
				.post
					.post__content-wrap
						:Date
						:b('Caption')
							.post__title: {Caption}
						:Tags
					.post__images-wrap.is-hidden.i-smoothness
						:b('Photos')
							img.post__image(alt="", src="{PhotoURL-500}", width="{PhotoWidth-400}", height="{PhotoHeight-400}")

			:b('Quote')
				.post
					.post__content-wrap
						:Date
						.post__desc
							| {Quote}
						:Tags

			:b('Link')
				.post
					.post__content-wrap
						:Date
						.post__title
							| {Name}
						:b('Description')
							.post__desc
								| {Description}
						:Tags

			:b('Chat')
				.post
					.post__content-wrap
						:Date
						:b('Title')
							.post_title: {Title}
						:Tags
					.post__images-wrap
						ul.unstyled
							:b('Lines')
								li.unstyle
									:b('Label')
										b: {Label} 
									| {Line}

			:b('Audio')
				.post
					.post__content-wrap
						:Date
						:b('Caption')
							.post__title: {Caption}
						:Tags
					:b('AudioEmbed')
						.post__images-wrap
							| {AudioEmbed-400}

			:b('Video')
				.post
					.post__content-wrap
						:Date
						:b('Caption')
							.post__title: {Caption}
						:Tags
					.post__images-wrap
						| {VideoEmbed-400}

			:b('Answer')
				.post
					.post__content-wrap
						:Date
						.post__desc
							| {Question}
						:Tags
					.post__images-wrap
						b: {Question}
						hr
						| {Answer}