+block('PermalinkPage')

	.content-wrap.content-wrap_type_page.clearfix




		+block('Posts')

			+block('Text')
				.post.clearfix
					.post__content-wrap
						include helpers/blocks/Date
						+block('Title')
							.post__title: {PlaintextTitle}
						.post__desc
							| {Body}
						include helpers/blocks/Tags

			+block('Photo')
				.post.clearfix
					.post__content-wrap
						include helpers/blocks/Date
						+block('Caption')
							.post__title: {PlaintextCaption}
						include helpers/blocks/Tags
					.post__images-wrap
						img.post-preview__img(alt="", src="{PhotoURL-500}", width="{PhotoWidth-400}", height="{PhotoHeight-400}")

			+block('Photoset')
				.post.clearfix
					.post__content-wrap
						include helpers/blocks/Date
						.post__title
						.post__desc
						+block('Caption')
							.hidden(content="photo_caption"): {Caption}
							script.
								buildTextForPhoto('.post__title', '.post__desc');
						include helpers/blocks/Tags
					.post__images-wrap.is-hidden.i-smoothness
						+block('Photos')
							img.post__image(alt="", src="{PhotoURL-500}", width="{PhotoWidth-400}", height="{PhotoHeight-400}")

			+block('Panorama')
				.post.clearfix
					.post__content-wrap
						include helpers/blocks/Date
						+block('Caption')
							.post__title: {PlaintextCaption}
						include helpers/blocks/Tags
					+block('LinkOpenTag')
						.post__images-wrap
							img.post__image(src="{PhotoURL-Panorama}", alt="{PhotoAlt}", width="{PhotoWidth-400}", height="{PhotoHeight-400}")


			+block('Quote')
				.post.clearfix
					.post__content-wrap
						include helpers/blocks/Date
						.post__desc
							| {PlaintextQuote}
						include helpers/blocks/Tags

			+block('Link')
				.post.clearfix
					.post__content-wrap
						include helpers/blocks/Date
						.post__title
							| {PlaintextName}
						+block('Description')
							.post__desc
								| {PlaintextDescription}
						include helpers/blocks/Tags

			+block('Chat')
				.post.clearfix
					.post__content-wrap
						include helpers/blocks/Date
						+block('Title')
							.post_title: {PlaintextTitle}
						include helpers/blocks/Tags
					.post__images-wrap
						ul.unstyled
							+block('Lines')
								li.unstyle
									+block('Label')
										b: {Label} 
									| {Line}

			+block('Audio')
				.post.clearfix
					.post__content-wrap
						include helpers/blocks/Date
						+block('Caption')
							.post__title: {PlaintextCaption}
						include helpers/blocks/Tags
					+block('AudioEmbed')
						.post__images-wrap
							| {AudioEmbed-400}

			+block('Video')
				.post.clearfix
					.post__content-wrap
						include helpers/blocks/Date
						+block('Caption')
							.post__title: {PlaintextCaption}
						include helpers/blocks/Tags
					.post__images-wrap
						| {VideoEmbed-400}

			+block('Answer')
				.post.clearfix
					.post__content-wrap
						include helpers/blocks/Date
						.post__desc
							| {Question}
						include helpers/blocks/Tags
					.post__images-wrap
						b: {Question}
						hr
						| {Answer}

		include helpers/blocks/pagination