script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
script(src="http://rawgithub.com/sapegin/jquery.mosaicflow/master/jquery.mosaicflow.min.js")

script(src="http://rawgithub.com/matmuchrapna/jquery.imenu/master/jquery.imenu.min.js")
script(src="http://rawgithub.com/paulirish/infinite-scroll/master/jquery.infinitescroll.min.js")

if mode === 'development'
	script(src="http://rawgithub.com/matmuchrapna/Hampi/master/src/js/plugins.js")
	script(src="http://rawgithub.com/matmuchrapna/Hampi/master/src/js/main.js")
if mode === 'production'
	script(src="js/plugins.js")
	script(src="js/main.js")

style.

	.content-wrap_type_index {
		position: relative;
	}
	
	#infscr-loading {
		display: block;
		width: 100%;
		padding: 5px 0;
		margin: 0 5px;
		text-align: center;
		bottom: 0;
		background: rgba(111, 111, 111, 0.03);
		overflow: hidden;
		color: #333;
		font-size: 20px;
		line-height: 2;
		font-style: italic;
	}
	
	#infscr-loading img {
		display: none;
	}


script.

	// handle optional caption or title
	// text, link, chat
	$('.content-wrap_type_index .post-preview').each(function(index, elem) {
		var $elem = $(elem), 
			title = $elem.find('.post-preview__title'),
			desc = $elem.find('.post-preview__desc'),
			helper = $elem.find('[content="helper-title"]');
		if (title.length === 0 && helper.length !== 0) {
			var text = helper.text(); //replace with your string.
			var maxLength = 140 // maximum number of characters to extract
			var trimmedString = text.substr(0, maxLength);
			trimmedString = trimmedString.substr(0, Math.min(trimmedString.length, trimmedString.lastIndexOf(" "))) + '…';

			$elem.append($('<div/>', {
				class: 'post-preview__desc',
				text: trimmedString
			});

			title.hide();

			//- console.log('trimmedString', trimmedString);
			//- desc.text(trimmedString);
		}
	});

	// separate title to title with description
	if ($('[content=photo_caption]').length !== 0) {
		var placeholder = '%MORE%',
			$container = $('[content=photo_caption]'),
			content = $container.html();

		$container.remove();
		content = content.replace(/<!-- more -->/gim, placeholder).replace(/<[^<]+?>/gim, '').replace(/&nbsp;/gim, ' ').split(placeholder);

		if (content[0]) {
			$('.post__title').text(content[0].trim());
		};
		if (content[1]) {
			$('.post__desc').text(content[1].trim());
		}
	}

	// handle iframes
	$('iframe').prop('width', '100%');
	$(window).resize(function() {
		$('iframe').prop('width', '100%');
	});
	
	function getWidth() {
		return ($(window).width() < 1600) ?  331 : 450;
	}

	var mosaic_options = {
		index: {
			itemSelector: '.post-preview',
			minItemWidth: getWidth()
		},
		photoset: {
			itemSelector: 'img',
			minItemWidth: 468,
			itemHeightCalculation: 'attribute'
		}
	}


	if ($('.post_type_photoset .post__images-wrap').length !== 0) {
		//- $('.post_type_photoset .post__images-wrap').fadeOut(0);
		$('.post_type_photoset .post__images-wrap').mosaicflow(mosaic_options.photoset);
	}

	$('.content-wrap_type_index .post-preview__img').not(':first-of-type').remove();

	var mosaicflow_container = $('.content-wrap_type_index');
	$('.content-wrap_type_index').fadeOut(0);

	$(function() {
		if ($('body.permalink-page .content-wrap_type_index').length !== 0) {
			$.ajax({url:'/'}).done(function(data) {
				
				var items = $(data).find('.post-preview');
				items.find('.post-preview__img').not(':first-of-type').remove();
				$.each(items, function(index, value) {
					mosaicflow_container.append($(value));
				});

				mosaicflow_container.mosaicflow(mosaic_options.index);
				mosaicflow_container.slideDown();
				mosaicflow_container.fadeIn();
			});
		}

		if ($('body.index-page .content-wrap_type_index').length !== 0) {
			mosaicflow_container.mosaicflow(mosaic_options.index).fadeIn();
			var $doc = $(document);
			var $win = $(window);
			var isBottom = function($win, $doc) { return $doc.scrollTop() === $doc.height() - $win.height(); }
			var already = false;

			var postSelector =  '.post-preview';
			var postsPerPage = $(postSelector).length;
			console.log('postsPerPage', postsPerPage);

			var infinitescroll_container = $('.content-wrap_type_index').infinitescroll({
				loading: {
					finishedMsg: '{lang:No more posts}',
					img: 'http://mtrpl.ru/wp-content/uploads/2012/12/ajax-loader.gif',
					msgText: '{lang:Loading}…',
					speed: 'normal'
				},
				navSelector: '.navigation_type_pagination',
				nextSelector: '.navigation_type_pagination [rel="next"]',
				itemSelector: postSelector,
				extraScrollPx: 1500,
				bufferPx: 1500,
				binder: $(window),
				debug: true,
				prefill: true,
				appendCallback: false
			}, function(items, opts) {
				console.log('opts', opts);
				
				if (items.length) {
					$.each(items, function(index, value) {
						$(value).find('.post-preview__img').not(':first-of-type').remove();
						mosaicflow_container.mosaicflow('add', $(value));
					});

					if (items.length < postsPerPage) {
						opts.state.isDone = true;

						$doc.scroll(function() {
							if (!already && isBottom($win, $doc)) {
								console.log('visible');
								$(opts.loading.msg[0]).text(opts.loading.finishedMsg).slideDown().delay(2000).slideUp();
								already = true;
							}
						});
					}
				}
			});
		}
	});
