script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
script(src="http://raw.github.com/sapegin/jquery.mosaicflow/master/jquery.mosaicflow.min.js")
script(src="http://raw.github.com/matmuchrapna/jquery.imenu/master/jquery.imenu.min.js")

if mode === 'development'
	script(src="http://rawgithub.com/matmuchrapna/Hampi/master/src/js/main.js")
	script(src="http://rawgithub.com/matmuchrapna/Hampi/master/src/js/plugins.js")
if mode === 'production'
	script(src="js/plugins.js")
	script(src="js/main.js")