script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
script(src="http://rawgithub.com/sapegin/jquery.mosaicflow/master/jquery.mosaicflow.min.js")
//- script(src="http://rawgithub.com/matmuchrapna/jquery.mosaicflow/issues/11/jquery.mosaicflow.js")

script(src="http://rawgithub.com/matmuchrapna/jquery.imenu/master/jquery.imenu.min.js")
script(src="http://rawgithub.com/paulirish/infinite-scroll/master/jquery.infinitescroll.min.js")

if mode === 'development'
	script(src="http://rawgithub.com/matmuchrapna/Hampi/master/src/js/plugins.js")
	script(src="http://rawgithub.com/matmuchrapna/Hampi/master/src/js/main.js")
if mode === 'production'
	script(src="js/plugins.js")
	script(src="js/main.js")


script.

	$('iframe').prop('width', '100%');
	$(window).resize(function() {
		$('iframe').prop('width', '100%');
	});

	var mosaic_options = {
		index: {
			itemSelector: '.post-preview',
			minItemWidth: 304
		}
		photoset: {
			itemSelector: 'img',
			minItemWidth: 468,
			itemHeightCalculation: 'attribute'
		}
	}

	if ($('.post_type_photoset .post__images-wrap').length !== 0) {
		$('.post_type_photoset .post__images-wrap').mosaicflow(mosaic_options.photosets);
	}

	$('.post-preview__img').not(':first-of-type').remove();

	var mosaicflow_container = $('.content-wrap_type_index');
	$(function() {

		if ($('body.permalink-page .content-wrap_type_index').length !== 0) {
			$.ajax({url:'/'}).done(function(data) {

				
				var items = $(data).find('.post-preview');
				items.find('.post-preview__img').not(':first-of-type').remove();


				$.each(items, function(index, value) {
					mosaicflow_container.append($(value));
				});
				
				$.ajax({url:'/page/2'}).done(function(data) {
					
					var items = $(data).find('.post-preview');
					items.find('.post-preview__img').not(':first-of-type').remove();

					$.each(items, function(index, value) {
						mosaicflow_container.append($(value));
					});
					
					$('.post-preview__img').not(':first-of-type').remove();
					mosaicflow_container.mosaicflow(mosaic_options.index);
				});
				
			});
		}

		/*
		*/
		if ($('body.index-page .content-wrap_type_index').length !== 0) {
			mosaicflow_container.mosaicflow(mosaic_options.index).fadeIn();

			var infinitescroll_container = $('.content-wrap_type_index').infinitescroll({
				navSelector: '.navigation_type_pagination',
				nextSelector: '.navigation_type_pagination [rel="next"]',
				itemSelector: '.post-preview',
				extraScrollPx: 500,
				//- bufferPx: $(document).height(),
				//- binder: $(window),
				//- debug: true,
				//- prefill: true,
				appendCallback: false
			}, function(items) {
				$.each(items, function(index, value) {
					mosaicflow_container.mosaicflow('add', $(value));
				});
			});

			/*
			
			if( $(window).height() >= $(document).height() ) {
				console.log('big screen');
				infinitescroll_container.infinitescroll( 'retrieve', 2 );
			}
			*/

		}

	});
