script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
script(src="http://rawgithub.com/sapegin/jquery.mosaicflow/master/jquery.mosaicflow.min.js")

script(src="http://rawgithub.com/matmuchrapna/jquery.imenu/master/jquery.imenu.min.js")
script(src="http://rawgithub.com/paulirish/infinite-scroll/master/jquery.infinitescroll.min.js")

if mode === 'development'
	script(src="http://rawgithub.com/matmuchrapna/Hampi/master/src/js/plugins.js")
	script(src="http://rawgithub.com/matmuchrapna/Hampi/master/src/js/main.js")
if mode === 'production'
	script(src="js/plugins.js")
	script(src="js/main.js")

style
	.content-wrap_type_index {
		position: relative;
	}
	
	#infscr-loading {
		display: block;
		width: 100%;
		padding: 5px 0;
		margin: 0 5px;
		text-align: center;
		bottom: 0;
		background: rgba(111, 111, 111, 0.03);
		overflow: hidden;
		color: #333;
		font-size: 20px;
		line-height: 2;
		font-style: italic;
	}
	
	#infscr-loading img {
		display: none;
	}


script.

	$('iframe').prop('width', '100%');
	$(window).resize(function() {
		$('iframe').prop('width', '100%');
	});

	var mosaic_options = {
		index: {
			itemSelector: '.post-preview',
			minItemWidth: 304
		},
		photoset: {
			itemSelector: 'img',
			minItemWidth: 468,
			itemHeightCalculation: 'attribute'
		}
	}

	if ($('.post_type_photoset .post__images-wrap').length !== 0) {
		//- $('.post_type_photoset .post__images-wrap').fadeOut(0);
		$('.post_type_photoset .post__images-wrap').mosaicflow(mosaic_options.photoset);
	}

	$('.content-wrap_type_index .post-preview__img').not(':first-of-type').remove();

	var mosaicflow_container = $('.content-wrap_type_index');
	$('.content-wrap_type_index').fadeOut(0);
	
	$(function() {
		if ($('body.permalink-page .content-wrap_type_index').length !== 0) {
			$.ajax({url:'/'}).done(function(data) {
				
				var items = $(data).find('.post-preview');
				items.find('.post-preview__img').not(':first-of-type').remove();
				$.each(items, function(index, value) {
					mosaicflow_container.append($(value));
				});

				//- $(window).resize();
				mosaicflow_container.mosaicflow(mosaic_options.index);
				mosaicflow_container.fadeIn();
				mosaicflow_container.slideDown();
				/*
				setTimeout(function() {
				}, 500);
				*/
			});
		}

		if ($('body.index-page .content-wrap_type_index').length !== 0) {
			mosaicflow_container.mosaicflow(mosaic_options.index).fadeIn();
			var $doc = $(document);
			var $win = $(window);
			var isBottom = function($win, $doc) { return $doc.scrollTop() === $doc.height() - $win.height(); }
			var already = false;

			var postSelector =  '.post-preview';
			var postsPerPage = $(postSelector).length;
			console.log('postsPerPage', postsPerPage);
			var infinitescroll_container = $('.content-wrap_type_index').infinitescroll({
				loading: {
					finishedMsg: '{lang:No more posts}',
					img: 'http://mtrpl.ru/wp-content/uploads/2012/12/ajax-loader.gif',
					msgText: '{lang:Loading}…',
					speed: 'normal'
				},
				navSelector: '.navigation_type_pagination',
				nextSelector: '.navigation_type_pagination [rel="next"]',
				itemSelector: postSelector,
				binder: $(window),
				debug: true,
				prefill: true,
				appendCallback: false
			}, function(items, opts) {
				console.log('opts', opts);
				if (items.length) {
					$.each(items, function(index, value) {
						mosaicflow_container.mosaicflow('add', $(value));
					});

					if (items.length < postsPerPage) {
						opts.state.isDone = true;

						$doc.scroll(function() {
							if (!already && isBottom($win, $doc)) {
								console.log('visible');
								$(opts.loading.msg[0]).text(opts.loading.finishedMsg).slideDown().delay(2000).slideUp();
								already = true;
							}
						});
					}
				}
			});
		}
	});
