meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
meta(name="viewport", content="width=device-width, initial-scale=1")

title #{head_title}

meta(name="description", content="{MetaDescription}")

link(rel="shortcut icon", href="{Favicon}")
link(rel="apple-touch-icon", href="{PortraitURL-128}")

link(rel="alternate", type="application/rss+xml", href="{RSS}")

// LINK TAGS FOR ACCESSIBILITY
link(rel="home", href="{BlogURL}")
+block('Pagination')
	+block('PreviousPage')
		link(rel="prev", href="{PreviousPage}")
	+block('NextPage')
		link(rel="next", href="{NextPage}")

+block('PermalinkPagination')
	+block('PreviousPost')
		link(rel="prev", href="{PreviousPost}")
	+block('NextPost')
		link(rel="next", href="{NextPost}")



//- must be uploaded to tumblr cdn
//- should be switched in grunt task, by uploading files (if they have been changed),
//- getting new urls, saving it and then replacing it with str.replace('');
meta(name="image:Logo", content="http://static.tumblr.com/4kzimp0/UMBmtu4pe/logo.png")

meta(name="if:Respectfull Footer", content="1")


link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic,cyrillic-ext')

if mode === 'development'
	link(rel="shortcut icon", href="http://matmuchrapna.github.io/Hampi-sketch/favicon.ico")
	link(rel='stylesheet', href='http://rawgithub.com/matmuchrapna/Hampi/master/src/css/normalize.css')
	link(rel='stylesheet', href='http://rawgithub.com/matmuchrapna/Hampi/master/src/css/helper.css')
	link(rel='stylesheet', href='http://rawgithub.com/matmuchrapna/Hampi/master/src/css/main.css')
	link(rel='stylesheet', href='http://rawgithub.com/matmuchrapna/Hampi/master/src/css/print.css')
if mode === 'production'
	link(rel='stylesheet', href='./css/style.min.css')

if mode === 'development'
	script(src="http://rawgithub.com/matmuchrapna/Hampi/master/src/js/vendor/modernizr-2.6.2.min.js")
