footer.footer

	+block('ifRespectfullFooter')
		//- Excellent [Hampi](http://hampi-theme.tumblr.com/) delivered to you by [Vladimir Starkov](http://vstarkov.com/) and [Evgeny Elovsky](http://iesys.tumblr.com/)

		+block('English')
			//- Excellent Hampi delivered to you by Vladimir Starkov and Evgeny Elovsky
			| Excellent 
			a(href="http://hampi-theme.tumblr.com/", title="Hampi")
				| Hampi
			|  delivered to you by 
			a(href="http://vstarkov.com/", title="Vladimir Starkov")
				| Vladimir Starkov
			|  and 
			a(href="http://iesys.tumblr.com/", title="Evgeny Elovsky")
				| Evgeny Elovsky

		+block('German')
			//- Ausgezeichnet Hampi an Sie geliefert von Vladimir Starkov und Evgeny Elovsky
			| Ausgezeichnet 
			a(href="http://hampi-theme.tumblr.com/", title="Hampi")
				| Hampi
			|  an Sie geliefert von 
			a(href="http://vstarkov.com/", title="Vladimir Starkov")
				| Vladimir Starkov
			|  und 
			a(href="http://iesys.tumblr.com/", title="Evgeny Elovsky")
				| Evgeny Elovsky

		+block('French')
			//- Excellente Hampi livré par Vladimir Starkov et Evgeny Elovsky
			| Excellente 
			a(href="http://hampi-theme.tumblr.com/", title="Hampi")
				| Hampi
			|  livré par 
			a(href="http://vstarkov.com/", title="Vladimir Starkov")
				| Vladimir Starkov
			|  et 
			a(href="http://iesys.tumblr.com/", title="Evgeny Elovsky")
				| Evgeny Elovsky

		+block('Italian')
			//- Eccellente Hampi consegnato a voi da Vladimir Starkov e Evgeny Elovsky
			| Eccellente 
			a(href="http://hampi-theme.tumblr.com/", title="Hampi")
				| Hampi
			|  consegnato a voi da 
			a(href="http://vstarkov.com/", title="Vladimir Starkov")
				| Vladimir Starkov
			|  e 
			a(href="http://iesys.tumblr.com/", title="Evgeny Elovsky")
				| Evgeny Elovsky

		+block('Japanese')
			//- 優秀ハンピStarkovとElovskyによってあなたに配信
			//- Yūshū hanpi Starkov to Elovsky ni yotte anata ni haishin
			| 優秀
			a(href="http://hampi-theme.tumblr.com/", title="Hampi")
				| ハンピ
			a(href="http://vstarkov.com/", title="Vladimir Starkov")
				| Starkov
			| と
			a(href="http://iesys.tumblr.com/", title="Evgeny Elovsky")
				| Elovsky
			| によってあなたに配信

		+block('Turkish')
			//- Mükemmel Hampi Vladimir Starkov ve Evgeny Elovsky tarafından size teslim
			| Mükemmel 
			a(href="http://hampi-theme.tumblr.com/", title="Hampi")
				| Hampi
			| 
			a(href="http://vstarkov.com/", title="Vladimir Starkov")
				| Vladimir Starkov
			|  ve 
			a(href="http://iesys.tumblr.com/", title="Evgeny Elovsky")
				| Evgeny Elovsky
			|  tarafından size teslim

		+block('Spanish')
			//- Excelente Hampi entregado a usted por Vladimir Starkov y Evgeny Elovsky
			| Excelente 
			a(href="http://hampi-theme.tumblr.com/", title="Hampi")
				| Hampi
			|  entregado a usted por 
			a(href="http://vstarkov.com/", title="Vladimir Starkov")
				| Vladimir Starkov
			|  y 
			a(href="http://iesys.tumblr.com/", title="Evgeny Elovsky")
				| Evgeny Elovsky

		+block('Russian')
			//- Отлично Хампи доставлены к вам Владимир Старков и Евгений Elovsky
			a(href="http://vstarkov.ru/", title="Владимир Старков")
				| Владимир Старков
			|  и 
			a(href="http://iesys.tumblr.com/", title="Евгений Еловский")
				| Евгений Еловский
			|  сделали для вас превосходную 
			a(href="http://hampi-theme.tumblr.com/", title="Хампи")
				| Хампи

		+block('Polish')
			//- Doskonały Hampi dostarczone do Ciebie przez Władimira Starkov i Jewgienija Elovsky
			| Doskonały 
			a(href="http://hampi-theme.tumblr.com/", title="Hampi")
				| Hampi
			|  dostarczone do Ciebie przez 
			a(href="http://vstarkov.com/", title="Władimira Starkov")
				| Władimira Starkov
			|  i 
			a(href="http://iesys.tumblr.com/", title="Jewgienija Elovsky")
				| Jewgienija Elovsky

		+block('Portuguese')
			//- Excelente Hampi entregue a você por Vladimir Starkov e Evgeny Elovsky
			| Excelente 
			a(href="http://hampi-theme.tumblr.com/", title="Hampi")
				| Hampi
			|  entregue a você por 
			a(href="http://vstarkov.com/", title="Vladimir Starkov")
				| Vladimir Starkov
			|  e 
			a(href="http://iesys.tumblr.com/", title="Evgeny Elovsky")
				| Evgeny Elovsky

		+block('Dutch')
			//- Uitstekende Hampi aan u geleverd door Vladimir Starkov en Evgeny Elovsky
			| Uitstekende 
			a(href="http://hampi-theme.tumblr.com/", title="Hampi")
				| Hampi
			|  aan u geleverd door 
			a(href="http://vstarkov.com/", title="Vladimir Starkov")
				| Vladimir Starkov
			|  en 
			a(href="http://iesys.tumblr.com/", title="Evgeny Elovsky")
				| Evgeny Elovsky
