header.header.clearfix

	+block('IndexPage')
		h1.logo(title="{Title}")
			+block('ifLogoImage')
				img(src="{image:Logo}").logo_img
			+block('ifNotLogoImage')
				| {Title}
	+block('PermalinkPage')
		a.logo.logo_size_small(href="/", title="{Title}")
			+block('ifLogoImage')
				img(src="{image:Logo}").logo_img
			+block('ifNotLogoImage')
				| {Title}


	+block('HasPages')
		.menu.i-non-select.clearfix.imenu
			div.menu__toggler.imenu__toggler
			ul.menu__list.unstyled.i-smoothness.clearfix
				+block('Pages')
					li.menu__item
						a.menu__link(href="{URL}", title="{Label}")
							| {Label}
