header.header.clearfix

	+block('IndexPage')
		h1.logo(title="{Title}")
			+block('ifLogoImage')
				img(src="{image:Logo}").logo_img
			+block('ifNotLogoImage')
				| {Title}
	+block('PermalinkPage')
		a.logo.logo_size_small(href="/", title="{Title}")
			+block('ifLogoImage')
				img(src="{image:Logo}").logo_img
			+block('ifNotLogoImage')
				| {Title}


	.menu.i-non-select.clearfix.imenu
		div.menu__toggler.imenu__toggler
		ul.menu__list.unstyled.i-smoothness.clearfix
			+block('IfTwitter')
				li.menu__item
					a.menu__link(href="http://twitter.com/{text:Twitter}", title="Twitter")
						| Twitter
			+block('IfFacebook')
				li.menu__item
					a.menu__link(href="http://www.facebook.com/{text:Facebook}", title="Facebook")
						| Facebook
			+block('IfYouTube')
				li.menu__item
					a.menu__link(href="http://www.youtube.com/user/{text:YouTube}", title="YouTube")
						| YouTube
			+block('IfInstagram')
				li.menu__item
					a.menu__link(href="http://instagram.com/{text:Instagram}", title="YouTube")
						| Instagram
			+block('IfVKontakte')
				li.menu__item
					a.menu__link(href="http://vk.com/{text:VKontakte}", title="VKontakte")
						| VKontakte
			+block('Pages')
				li.menu__item
					a.menu__link(href="{URL}", title="{Label}")
						| {Label}
