header.header.clearfix

	:b('IndexPage')
		h1.logo(title="{Title}")
			:b('ifLogoImage')
				img(src="{image:Logo}").logo.logo_img
			:b('ifNotImageLogo')
				| {Title}
	:b('PermalinkPage')
		a.logo(href="/", title="{Title}")
			:b('ifLogoImage')
				img(src="{image:Logo}").logo.logo_img.logo_size_small
			:b('ifNotImageLogo')
				| {Title}


	:b('HasPages')
		.menu__wrap.i-non-select.clearfix
			input#menu-toggler.hidden.menu__toggler-checkbox(type="checkbox")
			label.menu__toggler(for="menu-toggler")
			ul.menu__list.unstyled.i-smoothness.clearfix
				:b('Pages')
					li.menu__item
						a.menu__link(href="{URL}", title="{Label}")
							| {Label}