:b('Title')
	:b('IndexPage')
		h2(title="{Title}", class="heading")
			a(href="{Permalink}", title="{Title}", class="heading")
				| {Title}
	
	:b('PermalinkPage')
		h1(title="{Title}", class="heading")
			| {Title}
