include mixins

doctype 5
html.no-js(lang=html_lang)
	head
		include head
	body(class=body_class)
		.wrap
			include layout_header
			include body_index
			include body_page
			include layout_footer
		include bottom_scripts